@{
    ViewBag.Title = "Kintrest";
}

<div ng-controller="Kincontroller">
    <div ng-init="$scope.kins = [{OwnerHandle:'kate', Age:30},{OwnerHandle:'bruce', Age:30}]">
    <div ng-repeat="k in $scope.kins">
        {{k.OwnerHandle}}
    </div>
</div>
</div>


