@{
    ViewBag.Title = "Kintrest";
}

<div ng-controller="Kincontroller">
    <div ng-init="$scope.kins = [{
                    Id: 8,
                    Body: 'I love the turrets in Portal 2',
                    ImgURL: 'https://img.society6.com/cdn/0014/p/4531933_12374889_lz.jpg',
                    LinkURL: 'https://img.society6.com/cdn/0014/p/4531933_12374889_lz.jpg',
                    OwnerHandle: 'kateramsey'
                },
                {
                    Id: 9,
                    Body: 'Oh Wheatley :)',
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/b2/dc/20/b2dc20d029a41b8e3aa0e69e18f12e57.jpg',
                    LinkURL: 'http://www.thinkwithportals.com/',
                    OwnerHandle: 'kateramsey'
                },
                {
                    Id: 10,
                    Body: 'Life Lessons from Cave Johnson',
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/e6/e4/24/e6e424039a44edc9f4270bc909d1a3aa.jpg',
                    LinkURL: 'https://www.etsy.com/listing/73754501/when-life-gives-you-lemons-11x17-poster',
                    OwnerHandle: 'kateramsey'
                },
                {
                    Id: 11,
                    Body: 'From the sky to the core',
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/5d/17/fd/5d17fd0bd22c8bc20d7e0c32ce91677a.jpg',
                    LinkURL: 'http://decarabia.soup.io/post/138052126/Image',
                    OwnerHandle: 'kateramsey'
                },
                {
                    Id: 12,
                    Body: null,
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/a9/75/2b/a9752b80f4dfec1668117a8c9dba0597.jpg',
                    LinkURL: 'https://s-media-cache-ak0.pinimg.com/564x/a9/75/2b/a9752b80f4dfec1668117a8c9dba0597.jpg',
                    OwnerHandle: 'kateramsey'
                },
                {
                    Id: 13,
                    Body: null,
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/originals/87/b0/85/87b085cf7b1cc5f460cba801f6226d54.jpg',
                    LinkURL: 'https://s-media-cache-ak0.pinimg.com/originals/87/b0/85/87b085cf7b1cc5f460cba801f6226d54.jpg',
                    OwnerHandle: 'kateramsey'
                },
           {
                Id: 14,
                Body: null,
                ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/a0/73/ca/a073caef07ae6e42fe3d4b9c0d4d7329.jpg',
                    LinkURL: 'https://s-media-cache-ak0.pinimg.com/564x/a0/73/ca/a073caef07ae6e42fe3d4b9c0d4d7329.jpg',
                    OwnerHandle: 'brucewills'
                    },
                    {
                    Id: 15,
                    Body: 'Different types of Fallout players',
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/dc/c7/9f/dcc79ffd9df821c79c2942dc370b6d6b.jpg',
                    LinkURL: 'http://www.dorkly.com/post/74478/10-different-fallout-players',
                    OwnerHandle: 'brucewills'
                    },
                    {
                    Id: 16,
                    Body: 'I am thinking road trip!',
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/6a/28/e6/6a28e6585816bb31eafd73e43a56a872.jpg',
                    LinkURL: 'http://fallout.wikia.com/wiki/Fallout:_New_Vegas',
                    OwnerHandle: 'brucewills'
                    },
                    {
                    Id: 17,
                    Body: 'No Deathclaws, those are bad Deathclaws',
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/ec/01/7f/ec017f47c2f9bf06bb393ef5c7d69b8f.jpg',
                    LinkURL: 'https://s-media-cache-ak0.pinimg.com/564x/ec/01/7f/ec017f47c2f9bf06bb393ef5c7d69b8f.jpg',
                    OwnerHandle: 'brucewills'
                    },
                    {
                    Id: 18,
                    Body: null,
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/3e/d9/3a/3ed93a7d45995fc4caf2270b9b050d40.jpg',
                    LinkURL: 'https://s-media-cache-ak0.pinimg.com/564x/3e/d9/3a/3ed93a7d45995fc4caf2270b9b050d40.jpg',
                    OwnerHandle: 'brucewills'
                    },
                    {
                    Id: 19,
                    Body: 'A Fallout poem...',
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/66/f6/ab/66f6ab75b1f1987d45b88bf218f80e43.jpg',
                    LinkURL: 'https://s-media-cache-ak0.pinimg.com/564x/66/f6/ab/66f6ab75b1f1987d45b88bf218f80e43.jpg',
                    OwnerHandle: 'brucewills'
                    },
                    {
                    Id: 20,
                    Body: null,
                    ImgURL: 'https://s-media-cache-ak0.pinimg.com/564x/aa/da/23/aada23d8e0b878a4eef053d817ff30fd.jpg',
                    LinkURL: 'https://www.fallout4.com',
                    OwnerHandle: 'brucewills'
                    }
         ]">
    <div ng-repeat="k in $scope.kins" class="col-md-3 kin">
        {{k.OwnerHandle}}
        <a href="{{k.LinkURL}}">
            <img src="{{k.ImgURL}}" alt="{{k.Body}}" />
        </a>
        {{k.Body}}
    </div>
</div>
</div>


