@{
    ViewBag.Title = "Kintrest";
}

<div ng-controller="Kincontroller">
    <div>

        <div ng-repeat="k in Kins track by $index" class="col-md-3 kin">
            {{k.OwnerHandle}}
            <a href="{{k.LinkURL}}">
                <img ng-src="{{k.ImgURL}}" alt="{{k.Body}}"/>
            </a>
            {{k.Body}}
        </div>
    </div>
</div>


